tags/ehcache-core-2.4.8/src/site/resources/wsdl/EhcacheWebServiceEndpointService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://soap.server.ehcache.sf.net/" name="EhcacheWebServiceEndpointService" xmlns:tns="http://soap.server.ehcache.sf.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://soap.server.ehcache.sf.net/" schemaLocation="EhcacheWebServiceEndpointService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="loadAll">
    <part name="parameters" element="tns:loadAll"/>
  </message>
  <message name="loadAllResponse">
    <part name="parameters" element="tns:loadAllResponse"/>
  </message>
  <message name="CacheException">
    <part name="fault" element="tns:CacheException"/>
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>
  <message name="getCache">
    <part name="parameters" element="tns:getCache"/>
  </message>
  <message name="getCacheResponse">
    <part name="parameters" element="tns:getCacheResponse"/>
  </message>
  <message name="addCache">
    <part name="parameters" element="tns:addCache"/>
  </message>
  <message name="addCacheResponse">
    <part name="parameters" element="tns:addCacheResponse"/>
  </message>
  <message name="IllegalStateException">
    <part name="fault" element="tns:IllegalStateException"/>
  </message>
  <message name="ObjectExistsException">
    <part name="fault" element="tns:ObjectExistsException"/>
  </message>
  <message name="removeCache">
    <part name="parameters" element="tns:removeCache"/>
  </message>
  <message name="removeCacheResponse">
    <part name="parameters" element="tns:removeCacheResponse"/>
  </message>
  <message name="cacheNames">
    <part name="parameters" element="tns:cacheNames"/>
  </message>
  <message name="cacheNamesResponse">
    <part name="parameters" element="tns:cacheNamesResponse"/>
  </message>
  <message name="getKeysWithExpiryCheck">
    <part name="parameters" element="tns:getKeysWithExpiryCheck"/>
  </message>
  <message name="getKeysWithExpiryCheckResponse">
    <part name="parameters" element="tns:getKeysWithExpiryCheckResponse"/>
  </message>
  <message name="getKeysNoDuplicateCheck">
    <part name="parameters" element="tns:getKeysNoDuplicateCheck"/>
  </message>
  <message name="getKeysNoDuplicateCheckResponse">
    <part name="parameters" element="tns:getKeysNoDuplicateCheckResponse"/>
  </message>
  <message name="getQuiet">
    <part name="parameters" element="tns:getQuiet"/>
  </message>
  <message name="getQuietResponse">
    <part name="parameters" element="tns:getQuietResponse"/>
  </message>
  <message name="putQuiet">
    <part name="parameters" element="tns:putQuiet"/>
  </message>
  <message name="putQuietResponse">
    <part name="parameters" element="tns:putQuietResponse"/>
  </message>
  <message name="IllegalArgumentException">
    <part name="fault" element="tns:IllegalArgumentException"/>
  </message>
  <message name="removeQuiet">
    <part name="parameters" element="tns:removeQuiet"/>
  </message>
  <message name="removeQuietResponse">
    <part name="parameters" element="tns:removeQuietResponse"/>
  </message>
  <message name="getStatistics">
    <part name="parameters" element="tns:getStatistics"/>
  </message>
  <message name="getStatisticsResponse">
    <part name="parameters" element="tns:getStatisticsResponse"/>
  </message>
  <message name="getStatisticsAccuracy">
    <part name="parameters" element="tns:getStatisticsAccuracy"/>
  </message>
  <message name="getStatisticsAccuracyResponse">
    <part name="parameters" element="tns:getStatisticsAccuracyResponse"/>
  </message>
  <message name="clearStatistics">
    <part name="parameters" element="tns:clearStatistics"/>
  </message>
  <message name="clearStatisticsResponse">
    <part name="parameters" element="tns:clearStatisticsResponse"/>
  </message>
  <message name="getAllWithLoader">
    <part name="parameters" element="tns:getAllWithLoader"/>
  </message>
  <message name="getAllWithLoaderResponse">
    <part name="parameters" element="tns:getAllWithLoaderResponse"/>
  </message>
  <message name="getWithLoader">
    <part name="parameters" element="tns:getWithLoader"/>
  </message>
  <message name="getWithLoaderResponse">
    <part name="parameters" element="tns:getWithLoaderResponse"/>
  </message>
  <message name="NoSuchCacheException">
    <part name="fault" element="tns:NoSuchCacheException"/>
  </message>
  <message name="get">
    <part name="parameters" element="tns:get"/>
  </message>
  <message name="getResponse">
    <part name="parameters" element="tns:getResponse"/>
  </message>
  <message name="put">
    <part name="parameters" element="tns:put"/>
  </message>
  <message name="putResponse">
    <part name="parameters" element="tns:putResponse"/>
  </message>
  <message name="remove">
    <part name="parameters" element="tns:remove"/>
  </message>
  <message name="removeResponse">
    <part name="parameters" element="tns:removeResponse"/>
  </message>
  <message name="load">
    <part name="parameters" element="tns:load"/>
  </message>
  <message name="loadResponse">
    <part name="parameters" element="tns:loadResponse"/>
  </message>
  <message name="getSize">
    <part name="parameters" element="tns:getSize"/>
  </message>
  <message name="getSizeResponse">
    <part name="parameters" element="tns:getSizeResponse"/>
  </message>
  <message name="removeAll">
    <part name="parameters" element="tns:removeAll"/>
  </message>
  <message name="removeAllResponse">
    <part name="parameters" element="tns:removeAllResponse"/>
  </message>
  <message name="getKeys">
    <part name="parameters" element="tns:getKeys"/>
  </message>
  <message name="getKeysResponse">
    <part name="parameters" element="tns:getKeysResponse"/>
  </message>
  <message name="getStatus">
    <part name="parameters" element="tns:getStatus"/>
  </message>
  <message name="getStatusResponse">
    <part name="parameters" element="tns:getStatusResponse"/>
  </message>
  <portType name="EhcacheWebServiceEndpoint">
    <operation name="loadAll">
      <input message="tns:loadAll"/>
      <output message="tns:loadAllResponse"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="ping">
      <input message="tns:ping"/>
      <output message="tns:pingResponse"/>
    </operation>
    <operation name="getCache">
      <input message="tns:getCache"/>
      <output message="tns:getCacheResponse"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="addCache">
      <input message="tns:addCache"/>
      <output message="tns:addCacheResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
      <fault message="tns:ObjectExistsException" name="ObjectExistsException"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="removeCache">
      <input message="tns:removeCache"/>
      <output message="tns:removeCacheResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
    </operation>
    <operation name="cacheNames">
      <input message="tns:cacheNames"/>
      <output message="tns:cacheNamesResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
    </operation>
    <operation name="getKeysWithExpiryCheck">
      <input message="tns:getKeysWithExpiryCheck"/>
      <output message="tns:getKeysWithExpiryCheckResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="getKeysNoDuplicateCheck">
      <input message="tns:getKeysNoDuplicateCheck"/>
      <output message="tns:getKeysNoDuplicateCheckResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="getQuiet">
      <input message="tns:getQuiet"/>
      <output message="tns:getQuietResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="putQuiet">
      <input message="tns:putQuiet"/>
      <output message="tns:putQuietResponse"/>
      <fault message="tns:IllegalArgumentException" name="IllegalArgumentException"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="removeQuiet">
      <input message="tns:removeQuiet"/>
      <output message="tns:removeQuietResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="getStatistics">
      <input message="tns:getStatistics"/>
      <output message="tns:getStatisticsResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
    </operation>
    <operation name="getStatisticsAccuracy">
      <input message="tns:getStatisticsAccuracy"/>
      <output message="tns:getStatisticsAccuracyResponse"/>
    </operation>
    <operation name="clearStatistics">
      <input message="tns:clearStatistics"/>
      <output message="tns:clearStatisticsResponse"/>
    </operation>
    <operation name="getAllWithLoader">
      <input message="tns:getAllWithLoader"/>
      <output message="tns:getAllWithLoaderResponse"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="getWithLoader">
      <input message="tns:getWithLoader"/>
      <output message="tns:getWithLoaderResponse"/>
      <fault message="tns:NoSuchCacheException" name="NoSuchCacheException"/>
    </operation>
    <operation name="get">
      <input message="tns:get"/>
      <output message="tns:getResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
      <fault message="tns:NoSuchCacheException" name="NoSuchCacheException"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="put">
      <input message="tns:put"/>
      <output message="tns:putResponse"/>
      <fault message="tns:NoSuchCacheException" name="NoSuchCacheException"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="remove">
      <input message="tns:remove"/>
      <output message="tns:removeResponse"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="load">
      <input message="tns:load"/>
      <output message="tns:loadResponse"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="getSize">
      <input message="tns:getSize"/>
      <output message="tns:getSizeResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="removeAll">
      <input message="tns:removeAll"/>
      <output message="tns:removeAllResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="getKeys">
      <input message="tns:getKeys"/>
      <output message="tns:getKeysResponse"/>
      <fault message="tns:IllegalStateException" name="IllegalStateException"/>
      <fault message="tns:CacheException" name="CacheException"/>
    </operation>
    <operation name="getStatus">
      <input message="tns:getStatus"/>
      <output message="tns:getStatusResponse"/>
    </operation>
  </portType>
  <binding name="EhcacheWebServiceEndpointPortBinding" type="tns:EhcacheWebServiceEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="loadAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="ping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="addCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
      <fault name="ObjectExistsException">
        <soap:fault name="ObjectExistsException" use="literal"/>
      </fault>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
    </operation>
    <operation name="cacheNames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
    </operation>
    <operation name="getKeysWithExpiryCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="getKeysNoDuplicateCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="getQuiet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="putQuiet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalArgumentException">
        <soap:fault name="IllegalArgumentException" use="literal"/>
      </fault>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeQuiet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="getStatistics">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
    </operation>
    <operation name="getStatisticsAccuracy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="clearStatistics">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllWithLoader">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="getWithLoader">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoSuchCacheException">
        <soap:fault name="NoSuchCacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="get">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
      <fault name="NoSuchCacheException">
        <soap:fault name="NoSuchCacheException" use="literal"/>
      </fault>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="put">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoSuchCacheException">
        <soap:fault name="NoSuchCacheException" use="literal"/>
      </fault>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="remove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="load">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSize">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="getKeys">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalStateException">
        <soap:fault name="IllegalStateException" use="literal"/>
      </fault>
      <fault name="CacheException">
        <soap:fault name="CacheException" use="literal"/>
      </fault>
    </operation>
    <operation name="getStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EhcacheWebServiceEndpointService">
    <port name="EhcacheWebServiceEndpointPort" binding="tns:EhcacheWebServiceEndpointPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

