branches/1.7.0-rc/server/src/main/webapp/WEB-INF/wsdl/wscoor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wscoor="http://schemas.xmlsoap.org/ws/2004/10/wscoor"
        xmlns:jaxws="http://java.sun.com/xml/ns/jaxws"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        targetNamespace="http://schemas.xmlsoap.org/ws/2004/10/wscoor">
    <wsp:Policy wsu:Id="Addressing_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsap:UsingAddressing/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xs:schema>
            <xs:import
                    namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                    schemaLocation="addressing.xsd"/>
            <xs:import
                    namespace="http://schemas.xmlsoap.org/ws/2004/10/wscoor"
                    schemaLocation="wscoor.xsd"/>
        </xs:schema>

    </wsdl:types>
    <!-- Messages -->
    <wsdl:message name="CreateCoordinationContext">
        <wsdl:part name="parameters" element="wscoor:CreateCoordinationContext"/>
    </wsdl:message>
    <wsdl:message name="CreateCoordinationContextResponse">
        <wsdl:part name="parameters" element="wscoor:CreateCoordinationContextResponse"/>
    </wsdl:message>
    <wsdl:message name="Register">
        <wsdl:part name="parameters" element="wscoor:Register"/>
    </wsdl:message>
    <wsdl:message name="RegisterResponse">
        <wsdl:part name="parameters" element="wscoor:RegisterResponse"/>
    </wsdl:message>
    <!-- Mandatory Asynchronous PortTypes -->
    <wsdl:portType name="ActivationCoordinatorPortType">
        <wsdl:operation name="CreateCoordinationContextOperation">
            <wsdl:input message="wscoor:CreateCoordinationContext"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/CreateCoordinationContext"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ActivationRequesterPortType">
        <wsdl:operation name="CreateCoordinationContextResponseOperation">
            <wsdl:input message="wscoor:CreateCoordinationContextResponse"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/CreateCoordinationContextResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RegistrationCoordinatorPortType">
        <wsdl:operation name="RegisterOperation">
            <wsdl:input message="wscoor:Register"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/Register"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RegistrationRequesterPortType">
        <wsdl:operation name="RegisterResponseOperation">
            <wsdl:input message="wscoor:RegisterResponse"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/RegisterResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <!-- Optional Syncronous RPC Port Types -->
    <wsdl:portType name="ActivationPortTypeRPC">
        <wsdl:operation name="CreateCoordinationContextOperation">
            <wsdl:input message="wscoor:CreateCoordinationContext"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/CreateCoordinationContext"/>
            <wsdl:output message="wscoor:CreateCoordinationContextResponse"
                         wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/CreateCoordinationContextResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RegistrationPortTypeRPC">
        <wsdl:operation name="RegisterOperation">
            <wsdl:input message="wscoor:Register"
                        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/Register"/>
            <wsdl:output message="wscoor:RegisterResponse"
                         wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/RegisterResponse"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="ActivationCoordinatorBinding" type="wscoor:ActivationCoordinatorPortType">
        <wsp:PolicyReference URI="#Addressing_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="CreateCoordinationContextOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wscoor/CreateCoordinationContext"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ActivationRequesterBinding" type="wscoor:ActivationRequesterPortType">
        <wsp:PolicyReference URI="#Addressing_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="CreateCoordinationContextResponseOperation">
            <soap:operation
                    soapAction="http://schemas.xmlsoap.org/ws/2004/10/wscoor/CreateCoordinationContextResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RegistrationCoordinatorBinding" type="wscoor:RegistrationCoordinatorPortType">
        <wsp:PolicyReference URI="#Addressing_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="RegisterOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wscoor/Register"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RegistrationRequesterBinding" type="wscoor:RegistrationRequesterPortType">
        <wsp:PolicyReference URI="#Addressing_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="RegisterResponseOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wscoor/RegisterResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:binding name="ActivationRPCBinding" type="wscoor:ActivationPortTypeRPC">
        <wsp:PolicyReference URI="#Addressing_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="CreateCoordinationContextOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wscoor/CreateCoordinationContextSynch"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RegistrationRPCBinding" type="wscoor:RegistrationPortTypeRPC">
        <wsp:PolicyReference URI="#Addressing_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="RegisterOperation">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wscoor/RegisterSynch"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Coordinator">
        <wsdl:port binding="wscoor:ActivationCoordinatorBinding" name="ActivationCoordinator">
            <soap:address location="http://localhost:8080/wstx-services/coordinator/createCoordinationContext"/>
        </wsdl:port>
        <wsdl:port binding="wscoor:ActivationRequesterBinding" name="ActivationRequester">
            <soap:address location="http://localhost:8080/wstx-services/coordinator/createCoordinationContextResponse"/>
        </wsdl:port>
        <wsdl:port binding="wscoor:RegistrationCoordinatorBinding" name="RegistrationCoordinator">
            <soap:address location="http://localhost:8080/wstx-services/coordinator/register"/>
        </wsdl:port>
        <wsdl:port binding="wscoor:RegistrationRequesterBinding" name="RegistrationRequester">
            <soap:address location="http://localhost:8080/wstx-services/coordinator/registerResponse"/>
        </wsdl:port>

        <wsdl:port binding="wscoor:ActivationRPCBinding" name="Activation">
            <soap:address location="http://localhost:8080/wstx-services/ActivationRPC"/>
        </wsdl:port>
        <wsdl:port binding="wscoor:RegistrationRPCBinding" name="Registration">
            <soap:address location="http://localhost:8080/wstx-services/coordinator/synchRegister"/>
        </wsdl:port>
    </wsdl:service>

    <jaxws:bindings>
        <jaxws:package name="com.sun.xml.ws.tx.webservice.member.coord"/>
    </jaxws:bindings>

</wsdl:definitions>
