trunk/server/src/test/java/net/sf/ehcache/server/soap/jaxws/EhcacheWebServiceEndpoint.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.ehcache.sf.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.ehcache.sf.net/" name="EhcacheWebServiceEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.ehcache.sf.net/" schemaLocation="http://localhost:8080/ehcache/soap/EhcacheWebServiceEndpoint?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="loadAll">
<part name="parameters" element="tns:loadAll"></part>
</message>
<message name="loadAllResponse">
<part name="parameters" element="tns:loadAllResponse"></part>
</message>
<message name="CacheException">
<part name="fault" element="tns:CacheException"></part>
</message>
<message name="getCache">
<part name="parameters" element="tns:getCache"></part>
</message>
<message name="getCacheResponse">
<part name="parameters" element="tns:getCacheResponse"></part>
</message>
<message name="addCache">
<part name="parameters" element="tns:addCache"></part>
</message>
<message name="addCacheResponse">
<part name="parameters" element="tns:addCacheResponse"></part>
</message>
<message name="IllegalStateException">
<part name="fault" element="tns:IllegalStateException"></part>
</message>
<message name="ObjectExistsException">
<part name="fault" element="tns:ObjectExistsException"></part>
</message>
<message name="cacheNames">
<part name="parameters" element="tns:cacheNames"></part>
</message>
<message name="cacheNamesResponse">
<part name="parameters" element="tns:cacheNamesResponse"></part>
</message>
<message name="removeCache">
<part name="parameters" element="tns:removeCache"></part>
</message>
<message name="removeCacheResponse">
<part name="parameters" element="tns:removeCacheResponse"></part>
</message>
<message name="getKeysWithExpiryCheck">
<part name="parameters" element="tns:getKeysWithExpiryCheck"></part>
</message>
<message name="getKeysWithExpiryCheckResponse">
<part name="parameters" element="tns:getKeysWithExpiryCheckResponse"></part>
</message>
<message name="getKeysNoDuplicateCheck">
<part name="parameters" element="tns:getKeysNoDuplicateCheck"></part>
</message>
<message name="getKeysNoDuplicateCheckResponse">
<part name="parameters" element="tns:getKeysNoDuplicateCheckResponse"></part>
</message>
<message name="removeQuiet">
<part name="parameters" element="tns:removeQuiet"></part>
</message>
<message name="removeQuietResponse">
<part name="parameters" element="tns:removeQuietResponse"></part>
</message>
<message name="clearStatistics">
<part name="parameters" element="tns:clearStatistics"></part>
</message>
<message name="clearStatisticsResponse">
<part name="parameters" element="tns:clearStatisticsResponse"></part>
</message>
<message name="getStatisticsAccuracy">
<part name="parameters" element="tns:getStatisticsAccuracy"></part>
</message>
<message name="getStatisticsAccuracyResponse">
<part name="parameters" element="tns:getStatisticsAccuracyResponse"></part>
</message>
<message name="getWithLoader">
<part name="parameters" element="tns:getWithLoader"></part>
</message>
<message name="getWithLoaderResponse">
<part name="parameters" element="tns:getWithLoaderResponse"></part>
</message>
<message name="NoSuchCacheException">
<part name="fault" element="tns:NoSuchCacheException"></part>
</message>
<message name="getAllWithLoader">
<part name="parameters" element="tns:getAllWithLoader"></part>
</message>
<message name="getAllWithLoaderResponse">
<part name="parameters" element="tns:getAllWithLoaderResponse"></part>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"></part>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"></part>
</message>
<message name="get">
<part name="parameters" element="tns:get"></part>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"></part>
</message>
<message name="put">
<part name="parameters" element="tns:put"></part>
</message>
<message name="putResponse">
<part name="parameters" element="tns:putResponse"></part>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"></part>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"></part>
</message>
<message name="getSize">
<part name="parameters" element="tns:getSize"></part>
</message>
<message name="getSizeResponse">
<part name="parameters" element="tns:getSizeResponse"></part>
</message>
<message name="removeAll">
<part name="parameters" element="tns:removeAll"></part>
</message>
<message name="removeAllResponse">
<part name="parameters" element="tns:removeAllResponse"></part>
</message>
<message name="getKeys">
<part name="parameters" element="tns:getKeys"></part>
</message>
<message name="getKeysResponse">
<part name="parameters" element="tns:getKeysResponse"></part>
</message>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"></part>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"></part>
</message>
<portType name="EhcacheWebServiceEndpoint">
<operation name="loadAll">
<input message="tns:loadAll"></input>
<output message="tns:loadAllResponse"></output>
<fault message="tns:CacheException" name="CacheException"></fault>
</operation>
<operation name="getCache">
<input message="tns:getCache"></input>
<output message="tns:getCacheResponse"></output>
<fault message="tns:CacheException" name="CacheException"></fault>
</operation>
<operation name="addCache">
<input message="tns:addCache"></input>
<output message="tns:addCacheResponse"></output>
<fault message="tns:IllegalStateException" name="IllegalStateException"></fault>
<fault message="tns:ObjectExistsException" name="ObjectExistsException"></fault>
<fault message="tns:CacheException" name="CacheException"></fault>
</operation>
<operation name="cacheNames">
<input message="tns:cacheNames"></input>
<output message="tns:cacheNamesResponse"></output>
<fault message="tns:IllegalStateException" name="IllegalStateException"></fault>
</operation>
<operation name="removeCache">
<input message="tns:removeCache"></input>
<output message="tns:removeCacheResponse"></output>
<fault message="tns:IllegalStateException" name="IllegalStateException"></fault>
</operation>
<operation name="getKeysWithExpiryCheck">
<input message="tns:getKeysWithExpiryCheck"></input>
<output message="tns:getKeysWithExpiryCheckResponse"></output>
<fault message="tns:IllegalStateException" name="IllegalStateException"></fault>
<fault message="tns:CacheException" name="CacheException"></fault>
</operation>
<operation name="getKeysNoDuplicateCheck">
<input message="tns:getKeysNoDuplicateCheck"></input>
<output message="tns:getKeysNoDuplicateCheckResponse"></output>
<fault message="tns:IllegalStateException" name="IllegalStateException"></fault>
</operation>
<operation name="removeQuiet">
<input message="tns:removeQuiet"></input>
<output message="tns:removeQuietResponse"></output>
<fault message="tns:IllegalStateException" name="IllegalStateException"></fault>
</operation>
<operation name="clearStatistics">
<input message="tns:clearStatistics"></input>
<output message="tns:clearStatisticsResponse"></output>
</operation>
<operation name="getStatisticsAccuracy">
<input message="tns:getStatisticsAccuracy"></input>
<output message="tns:getStatisticsAccuracyResponse"></output>
</operation>
<operation name="getWithLoader">
<input message="tns:getWithLoader"></input>
<output message="tns:getWithLoaderResponse"></output>
<fault message="tns:NoSuchCacheException" name="NoSuchCacheException"></fault>
</operation>
<operation name="getAllWithLoader">
<input message="tns:getAllWithLoader"></input>
<output message="tns:getAllWithLoaderResponse"></output>
<fault message="tns:CacheException" name="CacheException"></fault>
</operation>
<operation name="ping">
<input message="tns:ping"></input>
<output message="tns:pingResponse"></output>
</operation>
<operation name="get">
<input message="tns:get"></input>
<output message="tns:getResponse"></output>
<fault message="tns:IllegalStateException" name="IllegalStateException"></fault>
<fault message="tns:NoSuchCacheException" name="NoSuchCacheException"></fault>
</operation>
<operation name="put">
<input message="tns:put"></input>
<output message="tns:putResponse"></output>
<fault message="tns:NoSuchCacheException" name="NoSuchCacheException"></fault>
<fault message="tns:CacheException" name="CacheException"></fault>
</operation>
<operation name="remove">
<input message="tns:remove"></input>
<output message="tns:removeResponse"></output>
<fault message="tns:CacheException" name="CacheException"></fault>
</operation>
<operation name="getSize">
<input message="tns:getSize"></input>
<output message="tns:getSizeResponse"></output>
<fault message="tns:IllegalStateException" name="IllegalStateException"></fault>
<fault message="tns:CacheException" name="CacheException"></fault>
</operation>
<operation name="removeAll">
<input message="tns:removeAll"></input>
<output message="tns:removeAllResponse"></output>
<fault message="tns:IllegalStateException" name="IllegalStateException"></fault>
<fault message="tns:CacheException" name="CacheException"></fault>
</operation>
<operation name="getKeys">
<input message="tns:getKeys"></input>
<output message="tns:getKeysResponse"></output>
<fault message="tns:IllegalStateException" name="IllegalStateException"></fault>
<fault message="tns:CacheException" name="CacheException"></fault>
</operation>
<operation name="getStatus">
<input message="tns:getStatus"></input>
<output message="tns:getStatusResponse"></output>
</operation>
</portType>
<binding name="EhcacheWebServiceEndpointPortBinding" type="tns:EhcacheWebServiceEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="loadAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="CacheException">
<soap:fault name="CacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getCache">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="CacheException">
<soap:fault name="CacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addCache">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalStateException">
<soap:fault name="IllegalStateException" use="literal"></soap:fault>
</fault>
<fault name="ObjectExistsException">
<soap:fault name="ObjectExistsException" use="literal"></soap:fault>
</fault>
<fault name="CacheException">
<soap:fault name="CacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="cacheNames">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalStateException">
<soap:fault name="IllegalStateException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="removeCache">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalStateException">
<soap:fault name="IllegalStateException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getKeysWithExpiryCheck">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalStateException">
<soap:fault name="IllegalStateException" use="literal"></soap:fault>
</fault>
<fault name="CacheException">
<soap:fault name="CacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getKeysNoDuplicateCheck">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalStateException">
<soap:fault name="IllegalStateException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="removeQuiet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalStateException">
<soap:fault name="IllegalStateException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="clearStatistics">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getStatisticsAccuracy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getWithLoader">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NoSuchCacheException">
<soap:fault name="NoSuchCacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllWithLoader">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="CacheException">
<soap:fault name="CacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ping">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="get">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalStateException">
<soap:fault name="IllegalStateException" use="literal"></soap:fault>
</fault>
<fault name="NoSuchCacheException">
<soap:fault name="NoSuchCacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="put">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NoSuchCacheException">
<soap:fault name="NoSuchCacheException" use="literal"></soap:fault>
</fault>
<fault name="CacheException">
<soap:fault name="CacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="remove">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="CacheException">
<soap:fault name="CacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSize">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalStateException">
<soap:fault name="IllegalStateException" use="literal"></soap:fault>
</fault>
<fault name="CacheException">
<soap:fault name="CacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="removeAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalStateException">
<soap:fault name="IllegalStateException" use="literal"></soap:fault>
</fault>
<fault name="CacheException">
<soap:fault name="CacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getKeys">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalStateException">
<soap:fault name="IllegalStateException" use="literal"></soap:fault>
</fault>
<fault name="CacheException">
<soap:fault name="CacheException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="EhcacheWebServiceEndpointService">
<port name="EhcacheWebServiceEndpointPort" binding="tns:EhcacheWebServiceEndpointPortBinding">
<soap:address location="http://localhost:8080/ehcache/soap/EhcacheWebServiceEndpoint"></soap:address>
</port>
</service>
</definitions>